:root {
  --border-radius: 4px;
  --color-text: #292929;
  --color-primary: #7026b9;
  --theme-ui-colors-base: #292929;
  --theme-ui-colors-secondary: #686461;
  --theme-ui-colors-tertiary: #726F6F;
  --theme-ui-colors-highlight: #C29967;
  --theme-ui-colors-background: #F5F0EB;
  --theme-ui-colors-border: #DCD8D3;
  --theme-ui-colors-button: #E9E4DF;
  --theme-ui-colors-text: #292929;
  --theme-ui-colors-code: #E9E5E0;
  --color-background: #F5F0EB;
  --color-code-bg: #fff4db;
  --color-code: #8a6534;
  --theme-ui-colors-border:#DCD8D3;
  --font-sans: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --font-lg: 18px;
  --font-md: 16px;
  --font-sm: 14px;
  --font-sx: 12px;
  --line-height-loose: 1.75;
  --line-height-normal: 1.5;
  --line-height-dense: 1.1;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 64px;
  --size-content: 77rem;
  --size-gutter: var(--space-5);
  --size-gap: var(--space-6);

}
html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font: sans-serif;
  font-size: var(--font-md);
  line-height: var(--line-height-normal);
  overflow-y: scroll;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
  font-family: sans-serif;
  font-family: var(--font-sans);
  font-weight: normal;
  margin: 0;
  word-wrap: break-word;
  background: var(--color-background);
}

abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  margin: 0;
  margin-bottom: 3rem;
  padding: 0;
  line-height: var(--line-height-dense);
  letter-spacing: -0.01em;
}
h1 > b {
  color: var(--color-primary);
}
img {
  border-style: none;
  max-width: 100%;
}
code,
kbd,
pre,
samp {
  font-family: var(--font-mono);
  font-size: 1em;
  line-height: inherit;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  margin-bottom: calc(var(--space-4) - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
hgroup,
img,
figure,
fieldset,
ul,
ol,
dl,
dd,
p {
  margin: 0;
  padding: 0;
  margin-bottom: var(--space-4);
}
ul,
ol {
  margin-left: var(--space-4);
  list-style-position: outside;
  list-style-image: none;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: var(--space-4);
  font-size: 0.875rem;
  line-height: var(--line-height-normal);
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: var(--border-radius);
  overflow: auto;
  word-wrap: normal;
  padding: var(--space-4);
}
b,
strong,
dt,
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(var(--space-4) / 2);
}
ol li,
ul li {
  padding-left: 0;
}
li > ol,
li > ul {
  margin-bottom: calc(var(--space-4) / 2);
  margin-left: var(--space-4);
  margin-top: calc(var(--space-4) / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(var(--space-4) / 2);
}
p {
}
code {
  font-size: 0.875rem;
}
kbd {
  font-size: 0.875rem;
}
samp {
  font-size: 0.875rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
tt,
code {
  background-color: var(--color-code-bg);
  border-radius: var(--border-radius);
  color: var(--color-code);
  font-family: var(--font-mono);
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  word-break: normal;
}
pre code {
  background: none;
}
code:before,
code:after,
tt:before,
tt:after {
  content: "\00a0";
  letter-spacing: -0.2em;
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: none;
}
a {
  color: inherit;
}

.general {
  margin: 200px auto 600px auto;
  maxWidth: `var(--size-content);
  padding: var(--size-gutter)
}
.bg-body-theme {
  background-color: var(--color-background);
  border-bottom: 1px solid var(--theme-ui-colors-border);
border-width: 1px;
}

.bg-body-theme-footer {
   background-color: var(--color-text);
  color: var(--theme-ui-colors-tertiary);
  font-size: 1rem;
}

.bg-body-theme-footer a, .bg-body-theme-footer .nav-link a{
color: #fff;
  text-decoration: none;
}



.bg-body-theme-footer a:hover {
color: var(--theme-ui-colors-highlight);
}

.bg-body-theme-footer .navbar-brand {
  font-size: 1rem;
}

 .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      .btn-bd-primary {
        --bd-violet-bg: #712cf9;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #6528e0;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
      }

      .bd-mode-toggle {
        z-index: 1500;
      }

      .bd-mode-toggle .dropdown-menu .active .bi {
        display: block !important;
      }

.
.navbar-brand{
background: var(--theme-ui-colors-base);
  padding: 10px 20px;
  border-radius: 12px;
  color: #fff;
  font-size: 18px;

}
.navbar-brand:hover{
color: var(--theme-ui-colors-highlight);
}

.tribe .col a{
  text-decoration: none;
  color: unset;
}

.summaries .accordion {
  margin-bottom: var(--space-2);
}

.summaries .accordion-button:not(.collapsed) {
  background-color: var(--theme-ui-colors-tertiary);
  border: 1px solid var(--theme-ui-colors-border);
  font-weight: bold;
  color: #fff;
  border-radius: 2px;
}

.summaries .accordion .accordion-body a {
color: inherit;
}

.accordion-button:focus {
  box-shadow: 0 0 0 0.25rem var(--theme-ui-colors-tertiary);
}

.accordion-button:not(.collapsed):after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.summaries .accordion:first-child .accordion-body a {
  color: inherit;
  font-size: 25px;
}

.callout{
  display: flex;
}


.sub-head{
  background: #fff;
  padding: 0 130px 50px 130px;
  display: flex;
}

.sub-logo-cont{
  min-width: 133px;
}

.sub-head h2 {
  margin-top: var(--space-2);
  margin-bottom:  var(--space-2);
}
.sub-head-container {
  background: #fff;
  padding: 130px var(--space-3) var(--space-3) var(--space-3);
  margin-bottom: var(--space-3);
}
.modal-90w {
  max-width: none !important;
    width: 90%;}
.btn-primary {
  background: var(--theme-ui-colors-button);
    border: 1px solid var(--theme-ui-colors-border);
    color: var(--theme-ui-colors-secondary);
    padding: 0.5rem;
    border-radius: 2px;
    margin: 0px;
    text-decoration: none;
    transition: 0.3s;}
.btn-primary:hover {
  background: var(--theme-ui-colors-highlight);
  border-color: var(--theme-ui-colors-highlight);
  color: white;
}

